/*ヘッダー適応のcss*/
.logo{
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 40px;
}
.status-logo{
  width: 40px;
  background-color: #7BDCB5;
}
.status1 {
  display: block;
  width: 100%;
  /* アイコンのスペースを確保したpadding-leftを設定する*/
  padding: 0px 16px 0px 40px;
  background-color: #B8D4D1;
  /* 左から16pxの上下中央に背景画像を配置*/
  background-position: left 16px center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  /* 折り返しの対応*/
  overflow-wrap: break-word;
  background-image: url(/img/conditions_FILL0_wght400_GRAD0_opsz48.png);
  border-radius: 8%;
  box-shadow: 2px 2px 2px 2px #bbb;
}
span{
  font-size: 32px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between
}
/* .header{
  height: 240px;
  display: flex;
  justify-content: center;
} */
header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 40px;
  background-color: #eee;
  position: sticky;
  box-shadow: 2px 2px 2px 2px #bbb;
}
button{
  display: flex;
  text-align: center;
  margin-right: 60px;
  border: none;
}
h2,
p {
  text-align: center;
  padding: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.status {
  margin: 80px 30px;
}

.status_title {
  text-align: center;
}

.status_wrapper {
  margin-top: 30px;
}

.status_3_0 {}

.grade h2 {
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_list {
  display: flex;
}

.input_container {
  margin: 32px;
}

.radio_button {
  opacity: 0;
}

.radio_tile {
  /* height: 30%; */
  /* width: 60%; */
}

.radio_tile_label {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* width: 100%; */
  /* height: 100%; */
  display: inline-block;
  border: 2px solid #8cbfe2;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  /* padding-top: calc((100%-64px)/4); */
  /* width: calc((100%-64px)/3); */
  /* transition: transform 300ms ease; */
}

.radio_tile_label::before {
  content: url("../img/check_v.png");
  mix-blend-mode: difference; 
}
.radio_button:checked+.radio_tile .radio_tile_label::before {
  mix-blend-mode: normal;
}
.radio_button:checked+.radio_tile .radio_tile_label {
  background-color: #3990e6;
  border: 2px solid #3990e6;
  color: white;
  transform: scale(1.1, 1.1);
}

.status_3_5 {}